## Numbers

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
4/2

2.0

## Modulo or "Mod" Operator

In [5]:
7 % 4

3

In [6]:
50 % 5

0

In [7]:
23 % 2

1

In [8]:
20 % 2

0

## Powers

In [9]:
2 ** 3

8

## Variables Assignments

In [10]:
a = 5

In [11]:
a

5

In [12]:
a + a

10

In [13]:
a = a + a

In [14]:
a

10

In [15]:
type(a)

int

In [16]:
a = 30.1

In [17]:
type(a)

float

In [18]:
my_income = 1000

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [19]:
my_taxes

100.0

## Strings

In [20]:
'hello'

'hello'

In [21]:
"world"

'world'

In [22]:
'this is also a string'

'this is also a string'

In [23]:
print("hello")

hello

In [25]:
print("hello \nworld")

hello
world

In [26]:
print("hello \t world")

hello 	 world

In [27]:
len('hello')

5

## Indexing and Slicing with Strings

In [28]:
mystring = "Hello World"

In [29]:
mystring

'Hello World'

In [30]:
mystring[0]

'H'

In [31]:
mystring[8]

'r'

In [32]:
mystring[9]

'l'

In [33]:
mystring[-2]

'l'

In [34]:
mystring = 'abcdefjklk'

In [35]:
mystring

'abcdefjklk'

In [36]:
mystring[2:]

'cdefjklk'

In [37]:
mystring[:3]

'abc'

In [38]:
mystring[3:6]

'def'

In [39]:
mystring[1:3]

'bc'

In [40]:
mystring[::]

'abcdefjklk'

In [41]:
mystring[::2]

'acejl'

In [42]:
mystring[2:7:2]

'cej'

In [43]:
mystring[::-1]

'klkjfedcba'

## String Properties & Methods

## Immutable

In [47]:
name = "Sam"

In [50]:
name

'Sam'

In [45]:
# name[0] = "P" you can't change the character in strings, it'll return error

In [51]:
last_letters = name[1:]

In [52]:
last_letters

'am'

In [53]:
"P" + last_letters

'Pam'

In [69]:
x = 'Hello World'

In [70]:
x = x + " it is beautiful outside!"

In [71]:
x

'Hello World it is beautiful outside!'

In [72]:
letter = 'Z'
letter * 10

'ZZZZZZZZZZ'

In [73]:
'2' + '3'

'23'

In [74]:
# when a number is a string, you can't perform the mathematical function instead it's concatenation the word 2 + 3 is 23

In [75]:
x = 'Hello World'

In [76]:
x.upper()

'HELLO WORLD'

In [77]:
x.upper

In [78]:
# you need to make sure you have open and close paranthesis otherwise python will just tell you that it's a function but don't do anything with it

In [79]:
x.lower()

'hello world'

In [80]:
x.split()

['Hello', 'World']

In [81]:
x = 'Hi this is a string'

In [82]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [84]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

## Formatting with the .format() method

A good way to format objects into your strings for print statements is with the string.format() method. The syntax is:
'String here {} then also {}'.format('something1', 'something2')

In [5]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [9]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [10]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [12]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

## Float formatting follows "{value:width.precision f}"

In [13]:
result = 100/777

In [19]:
result = 104.12345

In [20]:
print('The result was {}'.format(result))

The result was 104.12345

In [21]:
print('The result was {r:1.3f}'.format(r=result))

The result was 104.123

In [22]:
name = "Sten"

In [23]:
print('Hello, his name is {}'.format(name))

Hello, his name is Sten

In [24]:
# You can also do it this way

In [26]:
print(f'Hello, his name is {name}')

Hello, his name is Sten

In [27]:
name = "Sam"
age = 3

In [28]:
print(f'{name} is {age} years old')

Sam is 3 years old

## Lists

In [29]:
my_list = [1,2,3]

In [30]:
my_list

[1, 2, 3]

In [31]:
my_list = ["String", 12.45, 4]

In [32]:
my_list

['String', 12.45, 4]

In [33]:
len(my_list)

3

In [1]:
my_list = ["one", "two", "three"]

In [2]:
my_list[0]

'one'

In [3]:
my_list[1:]

['two', 'three']

In [4]:
another_list = ["four", "five"]

In [6]:
new_list = my_list + another_list

In [7]:
new_list

['one', 'two', 'three', 'four', 'five']

In [8]:
new_list[0] = "ONE ALL CAPS"

In [9]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [10]:
new_list.append('six')

In [11]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [12]:
new_list.append('seven')

In [13]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [14]:
new_list.pop

In [15]:
new_list.pop()

'seven'

In [16]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [17]:
popped_item = new_list.pop()

In [18]:
popped_item

'six'

In [19]:
new_list.pop(0)

'ONE ALL CAPS'

In [20]:
new_list

['two', 'three', 'four', 'five']

In [27]:
new_list = ['a', 'e', 'd', 'x', 'b']
num_list = [4,1,3,6]

In [22]:
new_list.sort()

In [23]:
new_list

['a', 'b', 'd', 'e', 'x']

In [24]:
new_list.sort()
my_sorted_list = new_list

In [25]:
my_sorted_list

['a', 'b', 'd', 'e', 'x']

In [28]:
num_list

[4, 1, 3, 6]

In [29]:
num_list.sort()

In [30]:
num_list

[1, 3, 4, 6]

In [31]:
num_list.reverse()

In [32]:
num_list

[6, 4, 3, 1]

## Dictionaries

In [33]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [34]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [36]:
my_dict['key1']

'value1'

In [37]:
prices_lookup = {'apple':'2.99', 'oranges':'2.50', 'durian':'4.99'}

In [38]:
prices_lookup['durian']

'4.99'

In [39]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}}

In [45]:
d['k2'][2]

2

In [44]:
d['k3']['insideKey']

100

In [46]:
d = {'key1':['a','b','c']}

In [47]:
my_list = d['key1']

In [48]:
my_list

['a', 'b', 'c']

In [49]:
letter = my_list[2]

In [50]:
letter

'c'

In [51]:
letter.upper()

'C'

In [52]:
d

{'key1': ['a', 'b', 'c']}

In [54]:
d['key1'][2].upper()

'C'

In [55]:
d = {'k1': 100, 'k2': 200}

In [56]:
d

{'k1': 100, 'k2': 200}

In [57]:
d['k3'] = 300

In [58]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [59]:
d['k1'] = 'NEW VALUES'

In [60]:
d

{'k1': 'NEW VALUES', 'k2': 200, 'k3': 300}

In [61]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [62]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [63]:
d.values()

dict_values([100, 200, 300])

In [64]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## Tuples with Python

In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
t = ("one", 2)

In [6]:
t

('one', 2)

In [7]:
t[0]

'one'

In [8]:
t = ('a', 'a', 'b')

In [10]:
t.count('a')

2

In [11]:
t.index('b')

2

In [13]:
t

('a', 'a', 'b')

In [14]:
mylist

[1, 2, 3]

In [16]:
mylist[0] = 'NEW'

In [17]:
mylist

['NEW', 2, 3]

## Sets

In [18]:
myset = set()

In [19]:
myset

set()

In [20]:
myset.add(1)

In [22]:
myset

{1}

In [23]:
myset.add(2)

In [24]:
myset

{1, 2}

In [25]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3,3]

In [26]:
set(mylist)

{1, 2, 3}

In [27]:
#a set can only contains 1 unique value each

## Booleans

In [28]:
True

True

In [29]:
False

False

In [30]:
1 > 2

False

In [31]:
1 == 1

True

In [32]:
type(False)

bool

In [33]:
b = None

In [34]:
b

## Files